.header {
    background-color: #fff;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;
        padding: 10px 20px;
        color: #333;

        .auth-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            align-items: center;
            width: 100%;
            justify-content: flex-end;
            border-top: 1px solid #333;
            padding-top: 10px;
        }
    }
    .burger path {
        color: #333;
    }
    &__logo {
        margin: 0;
        a {
            font-size: clamp(1.375rem, 3vw, 1.75rem);
            color: #333;
        }
    }
    &__nav {
        margin-left: auto;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 20px;
            li {
                display: inline-block;
                a {
                    color: #333;
                }
            }
        }
    }
    @media (max-width: 1000px) {
        &__nav {
            display: none;
        }
        .menu {
            display: flex;
            order: 1;
        }
        &__container {
            gap: 10px;
            .auth-buttons {
                order: 2;
                width: 100%;
                justify-content: flex-end;
            }
        }
    }
    #register-btn,
    #login-btn,
    #logout-btn {
        cursor: pointer;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
    }
    .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .register-modal,
    .login-form {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        width: 300px;
        position: relative;
    }
    input {
        width: 100%;
        padding: 8px;
        margin: 10px 0;
        border: 1px solid #ccc;
    }
}
