mixin Header-registration(param)
    header.header
        .container.header__container
            h2.header__logo
                +Link({
                    href: '/',
                    text: 'LinguaSphere'
                })
            nav.header__nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="about-us.html") About-us
                    li
                        a(href="courses.html") Courses
                    li
                        a(href="advantages.html") Advantages
                    li
                        a(href="teaching-team.html") Teaching-team
            div.auth-buttons
                p(id='welcome-msg' class='hidden') Welcome, 
                    span(id='user-name')
                button(id='register-btn' class="btn btn-register") Registration
                button(id='login-btn' class="btn btn-register") Login
                button(id='logout-btn' class='hidden btn btn-register') Logout
            +Nav-mob({})
                