mixin Register-modal()
    div(id='register-modal' class='modal')
        .register-modal(id='register-form')
            .btn-close X
            label(for='name') Name
            input(type='text' id='name' required)
            label(for='email') Email
            input(type='email' id='email' required)
            label(for='password') Password
            input(type='password' id='password' required)
            label(for='confirm-password') Confirm password
            input(type='password' id='confirm-password' required)
            button(type='submit' class='btn-banner' id='modal-register-btn') Registration