mixin ParallaxBlock(imagePath, title, subtitle)
    .parallax-container(style=`--bg-image: url(${imagePath})`)
        .parallax-content
            h1=title
                span.hidden stake
            p=subtitle