mixin Dev-land()
    .dev-land
        div
            .small Also
            p ENJOY
            h3.rainbow-text Exclusive Offers
            +Img({
                src: 'img/land.jpg',
                alt: 'dev-land'
            })
            +Link({
                class: 'land-btn pulse-btn',
                text: 'Play Now',
                href: '/download/'
            })