mixin Footer-payment(param={})
    .footer__payment
        .footer__payment_title Принимаем к оплате
        .footer__payment_categories
            +Img({
                src: 'img/n-visa.png',
                alt: 'visa'
            })
            +Img({
                src: 'img/n-mc.png',
                alt: 'mc'
            })
            +Img({
                src: 'img/n-mir.png',
                alt: 'mir'
            })
            +Img({
                src: 'img/n-sbp.png',
                alt: 'sbp'
            })