mixin Counter(param)

    - param.counterOne = param.counterOne ? param.counterOne : ''
    - param.counterTwo = param.counterTwo ? param.counterTwo : ''
    - param.counterThree = param.counterThree ? param.counterThree : ''
    
    section.counter
        .container.counter__container 
            div
                .counter__number(id='counter1') 0
                .counter__label=param.counterOne
            div
                .counter__number(id='counter2') 0
                .counter__label=param.counterTwo
            div
                .counter__number(id='counter3') 0
                .counter__label=param.counterThree