mixin Game()
    section.game
        .container.game__container.reveal-zoom(id='game')
            iframe(id="game-frame" frameborder="0" noscrolling="true" allowfullscreen="true" allow="autoplay" src="https://eu-server.ssgportal.com/XGames/Loader.aspx?Token=e845bb3b-a7c8-4c34-b123-948085742091&GameType=XGames&GameName=TowerX&StartPage=Board&ReturnURL=https%3A%2F%2Ftower.bet%2Fredirect%2Fall-games&Lang=en&chat=&Skin=&JurisdictionName=CW")

