mixin Btn-cart()
    button.emb-cart
        +Simple-text({
            text: 'В корзину',
            img: true,
            imgName: 'emb-cart.svg',
            customClass: 'emb-text-reverse'
        })