//- .modal-fixed(id='modal-map')
//-     .modal-map
//-         .modal-map__head
//-             button.modal-fixed__close(data-close-modal)
//-             .modal-map__head_content
//-         .modal-map__body
//-             .modal-map__body_content
