mixin Filter-result(param={})
    if(param.modal)
        li.filter-result__item 
            if(param.btnClose)
                //- +icon('close')
            a(href="#") г. Москва, Хорошевское шоссе, 90
            .all-blick-data
                ul.metro-block-new
                    li 
                        img(src="/assets/img/categories/m.png", alt="")
                        //- +icon('arrow')
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M10.0006 10.9766L14.1256 6.85156L15.3039 8.0299L10.0006 13.3332L4.69727 8.0299L5.8756 6.85156L10.0006 10.9766Z" fill="#C1C7D0")
                        p Хорошёвская 
                            //- +icon('man')
                            span 132 м
                    li 
                        img(src="/assets/img/categories/m.png", alt="")
                        p Хорошёвская 
                            //- +icon('man') 
                            span 132 м
                    li 
                        img(src="/assets/img/categories/m.png", alt="")
                        p Хорошёвская 
                            //- +icon('man') 
                            span 132 м
                div Режим работы:
                ul 
                    li 
                        span пн - пт 
                        p 07:00 - 19:00
                    li 
                        span сб - вс 
                        p 07:30 - 15:30
            .filter-result__img
                .filter-result__img-container
                    img(src="/assets/img/categories/garant.png", alt="picture 1")
                    .alt-text
                        span
                .filter-result__img-container
                    img(src="/assets/img/categories/garant.png", alt="this is picture number 2")
                    .alt-text
                        span
                .filter-result__img-container
                    img(src="/assets/img/categories/garant.png", alt="3 3 3 3 3 3 3 3 3 3 3 3")
                    .alt-text
                        span
                .filter-result__img-container
                    img(src="/assets/img/categories/garant.png", alt="Капельницы, уколы, инъекции")
                    .alt-text
                        span
            a(href="#").c-btn.c-btn_primary Подробнее 
            a(href="#").c-btn.c-btn_outline Оставить отзыв
    else 
        li.filter-result__item.accordion__item
            .accordion__head
                .accordion__head-content
                    if(param.btnClose)
                        +icon('close')
                    a(href="#") г. Москва, Хорошевское шоссе, 90
                    .all-blick-data
                        ul.metro-block-new
                            li 
                                //- img(src="/assets/img/categories/m.png", alt="")
                                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.000000" height="16.000000" viewBox="0 0 16 16" fill="none")
                                    rect(id="Frame 1321316960" rx="1.500000" width="15.000000" height="15.000000" transform="translate(0.500000 0.500000)" fill="#39BABA" fill-opacity="1.000000")
                                    path(id="M" d="M10.89 6.96L10.9 12L12.73 12L12.71 3.6L11.11 3.6L8.01 8.82L4.87 3.6L3.26 3.6L3.26 12L5.09 12L5.09 7.06L7.54 11.11L8.42 11.11L10.89 6.96Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd")
                                //- +icon('arrow')
                                
                                p Хорошёвская 
                                    //- +icon('man') 
                                    +Img({
                                        src: 'img/man.svg',
                                        alt: 'man'
                                    })
                                    span 132 м
                            li 
                                //- img(src="/assets/img/categories/m.png", alt="")
                                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.000000" height="16.000000" viewBox="0 0 16 16" fill="none")
                                    rect(id="Frame 1321316960" rx="1.500000" width="15.000000" height="15.000000" transform="translate(0.500000 0.500000)" fill="#7540A5" fill-opacity="1.000000")
                                    path(id="M" d="M10.89 6.96L10.9 12L12.73 12L12.71 3.6L11.11 3.6L8.01 8.82L4.87 3.6L3.26 3.6L3.26 12L5.09 12L5.09 7.06L7.54 11.11L8.42 11.11L10.89 6.96Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd")
                                p Полежаевская 
                                    //- +icon('man') 
                                    +Img({
                                        src: 'img/man.svg',
                                        alt: 'man'
                                    })
                                    span 132 м
                            li 
                                //- img(src="/assets/img/categories/m.png", alt="")
                                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.000000" height="16.000000" viewBox="0 0 16 16" fill="none")
                                    rect(id="Frame 1321316960" rx="1.500000" width="15.000000" height="15.000000" transform="translate(0.500000 0.500000)" fill="rgb(244, 154, 159)" fill-opacity="1.000000")
                                    path(id="M" d="M10.89 6.96L10.9 12L12.73 12L12.71 3.6L11.11 3.6L8.01 8.82L4.87 3.6L3.26 3.6L3.26 12L5.09 12L5.09 7.06L7.54 11.11L8.42 11.11L10.89 6.96Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd")
                                p Хорошево 
                                    //- +icon('man') 
                                    +Img({
                                        src: 'img/man.svg',
                                        alt: 'man'
                                    })
                                    span 132 м
                if(!param.closeIcon)
                    .accordion__icon
                        //- +icon('plus')
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M10.0006 10.9766L14.1256 6.85156L15.3039 8.0299L10.0006 13.3332L4.69727 8.0299L5.8756 6.85156L10.0006 10.9766Z" fill="#C1C7D0")
            .accordion__body
                .accordion__body-content
                    div Режим работы:
                    ul 
                        li 
                            span пн - пт 
                            p 07:00 - 19:00
                        li 
                            span сб - вс 
                            p 07:30 - 15:30
                    .filter-result__img
                        .filter-result__img-container
                            img(src="img/garant.png", alt="picture 1")
                            .alt-text
                                span
                        .filter-result__img-container
                            img(src="img/garant.png", alt="this is picture number 2")
                            .alt-text
                                span
                        .filter-result__img-container
                            img(src="img/garant.png", alt="3 3 3 3 3 3 3 3 3 3 3 3")
                            .alt-text
                                span
                        .filter-result__img-container
                            img(src="img/garant.png", alt="Капельницы, уколы, инъекции")
                            .alt-text
                                span
            if(param.unavailable)
                ul.accordion.filter-result__unavailable
                    li.accordion__item
                        .accordion__head
                            .accordion__head-content
                                .accordion__head-text 
                                    p.n-title-xs <span>1</span> анализ недоступен 
                                    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12.000000" height="6.667969" viewBox="0 0 12 6.66797" fill="none")
                                        path(id="Vector" d="M1.74 0.3L5.66 3.82C5.85 3.99 6.14 3.99 6.33 3.82L10.25 0.3C10.44 0.12 10.73 0.12 10.92 0.3L11.58 0.89C11.8 1.09 11.8 1.44 11.58 1.64L6.33 6.36C6.14 6.53 5.85 6.53 5.66 6.36L0.41 1.64C0.19 1.44 0.19 1.09 0.41 0.89L1.07 0.3C1.26 0.12 1.55 0.12 1.74 0.3Z" fill="#EA516D" fill-opacity="1.000000" fill-rule="nonzero")
                                    //- .accordion__head-label label
                        .accordion__body
                            .accordion__body-content 
                                div 
                                    .n-title-xs-alt ДНК Chlamydia trachomatis, ЦК соскоб
                                    +Img({
                                        src: 'img/trash.svg', 
                                        alt: 'unavailable'
                                    })
                                div 
                                    .n-title-xs-alt Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam pariatur recusandae temporibus vero qui unde voluptas voluptates labore quod velit, repellendus, nemo quam corrupti quos dicta ad minus, commodi enim illo? Possimus, sed. Ut, possimus quaerat quasi quas illo iure.
                                    +Img({
                                        src: 'img/trash.svg', 
                                        alt: 'unavailable'
                                    })

            a(href="#").c-btn.c-btn_primary.n-btn Выбрать