mixin Analysis-info(param={})
    .a-info
        .a-title(class=param.class)=param.title
        ul 
            li Информация на сайте носит справочный характер и не является публичной офертой. Для получения актуальной информации обратитесь в медицинский центр исполнителя или кол-центр СИТИЛАБ по номеру: 
                a(href="#") +7 (499) 705-08-08
            li В каталоге услуг указан максимально возможный срок выполнения исследования. Он отражает время выполнения исследования в лаборатории и не включает время на доставку биоматериала до лаборатории.
            li Сроки выполнения исследований, которые сдавались в региональных медицинских центрах, уточняйте по контактным телефонам центров. Чтобы просмотреть список предлагаемых тестов, нажмите на интересующий вас раздел каталога.
            li Обращаем ваше внимание на то, что взятие биоматериала для исследований у детей до 15 лет возможно только в присутствии родителей или законных представителей. После 15 лет присутствие родителей или законных представителей не требуется.
