mixin Modal-required-documents(param={})
    .modal-fixed(id='modal-required-documents')
        .modal-documents
            .modal-documents__head
                .n-title-aux Список документов для посещения
                
                .modal-documents__head_content
            .modal-documents__body
                .modal-documents__body_content
                    ul 
                        li.n-title-xs Паспорт, свидетельство о рождении, водительское удостоверение
                        li.n-title-xs Перечень документов удостоверяющих личность
                    button.modal-fixed__close(data-close-modal)
                        span.n-title-xs  Закрыть