mixin Map-iframe(param = {})
    iframe(src=param.src width="100%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  target="_blank" rel="noopener noreferrer")