mixin Footer-bottom(paraam={})
    .footer__bottom
        .footer__info
            +Footer-logo()
            .footer__col
                .footer__copyright © СИТИЛАБ, 2005-2025. Все права защищены
                .footer__legal Указанные на сайте цены не являются публичной офертой (ст. 435 ГК РФ, cт. 437 ГК РФ). Для уточнения стоимости услуг обращайтесь в контакт-центр СИТИЛАБ по телефону, указанному на сайте.
            +Footer-social()
        .footer__disclaimer ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА