mixin Ard-simple-text(param)
    if(param.title)
        .ard-text-bold Номенклатура МЗРФ (Приказ №804н): B03.016.002 Общий (клинический) анализ крови
    if(param.text)
        .ard-text Общий анализ крови представляет собой важное диагностическое исследование, тщательно отражающее как распространенные, так и более редкие нарушения здоровья человека. Эти нарушения проявляются отклонениями от нормы различных параметров общего анализа крови. Во многих случаях результаты общего анализа крови играют ключевую роль в установлении диагноза, особенно при заболеваниях системы кроветворения, где этому исследованию отводится ведущая роль.
    if(param.customTitle)
        .ard-text-bold Биоматериал:
            .ard-text венозная кровь
    if(param.list)
        ul.ard-text-list
            li Лейкоциты (WBC): Отражает количество белых кровяных клеток в определенном объеме крови. Отклонения в количестве лейкоцитов могут свидетельствовать об инфекциях, воспалительных состояниях или нарушениях иммунной системы.
            li Эритроциты (RBC): Отражает количество красных кровяных клеток в определенном объеме крови. Отклонения от нормы могут указывать на анемию или другие нарушения, связанные с кровью.
            li Гемоглобин (HGB, Hb): Оценивает количество гемоглобина, белка, отвечающего за перенос кислорода, в крови. Аномалии уровня гемоглобина могут указывать на анемию или другие проблемы со здоровьем.
            li Гематокрит (HCT): Представляет собой процент объема крови, занимаемого эритроцитами. Этот показатель также отражает способность крови переносить кислород.
            li Средний объем эритроцита (MCV): Указывает на средний размер красных кровяных клеток.
            li Среднее содержание Hb в эритроците (MCH): Измеряет среднее количество гемоглобина в красных кровяных клетках.
            li Средняя концентрация Hb в эритроцитах (MCHC): Отражает концентрацию гемоглобина в красных кровяных клетках.
            li Индекс распределения эритроцитов (RDW-SD): Отражает изменчивость размеров красных кровяных клеток.
            li Индекс распределения эритроцитов (RDW-CV): Оценивает степень изменчивости размеров красных кровяных клеток.
            li Тромбоциты (PLV): Оценивает количество тромбоцитов, необходимых для свертывания крови. Отклонения от нормы могут свидетельствовать о нарушениях свертывания крови или проблемах с костным мозгом.
            li Средний объем тромбоцита (MPV): Измеряет средний размер тромбоцитов в крови. Повышенные или пониженные значения могут быть связаны с различными заболеваниями, такими как тромбоцитопения или тромбоцитоз.
            li Тромбокрит (PCT): Этот параметр отражает процентное содержание тромбоцитов в общем объеме крови и используется для дополнительной оценки функции тромбоцитов.
            li Индекс распределения тромбоцитов (PDW): Измеряет изменчивость размеров тромбоцитов. Повышенные значения могут быть индикатором различных состояний, включая тромбоцитопению.
            
            