mixin Chatbot()
    .chatbot
        .chatbot-icon.shadow  💬
        .chatbot-window.shadow(id='chatbotWindow' class='hidden')
            .chatbot-header
                h3 Do you need help?
            .chatbot-body
                a(href="how-to-play/" class="chatbot-link") How to play?
                a(href="support/" class="chatbot-link") Contact support
