//- include /sites/MetaPlaybook/components/header/index
include /sites/Analysis-result-search/components/Ars-sidebar/index
include /sites/Analysis-result-search/components/Ars-sidebar-sheckboxes/index
include /sites/Analysis-result-search/components/ars-sidebar-categories/index

include /sites/Analysis-result-search/components/ars-sidebar-showmore/index
include /sites/Analysis-result-search/components/ars-sidebar-popular/index

include /sites/Analysis-result-search/components/ars-content-top/index
include /sites/Analysis-result-search/components/ars-content-card/index
include /sites/Analysis-result-search/components/ars-tags/index
include /sites/Analysis-result-search/components/ars-filters-modal/index
include /sites/Analysis-result-search/components/ars-toggle-block/index

include /sites/Analysis-result-search/components/ars-content-card-right/index
include /sites/Analysis-result-search/components/ard-simple-text/index
include /sites/Analysis-result-search/components/analysis-info/index
include /sites/Analysis-result-search/components/analysis-slider/index
include /sites/Analysis-result-search/components/analysis-card/index
include /sites/Analysis-result-search/components/slider-navigation/index


include /sites/Analysis-result-search/components/ars-categories-modal/index

include /sites/Analysis-result-search/components/slider/index

// WEBPACK
include /sites/Analysis-result-search/components/Filter-result/index
include /sites/Analysis-result-search/components/Main-map/index

// COMPONENTS_SM
include /sites/Analysis-result-search/components-sm/bonuses/index
include /sites/Analysis-result-search/components-sm/code/index
include /sites/Analysis-result-search/components-sm/title18/index
include /sites/Analysis-result-search/components-sm/card/index
include /sites/Analysis-result-search/components-sm/simple-text/index
include /sites/Analysis-result-search/components-sm/price/index
include /sites/Analysis-result-search/components-sm/btn-cart/index
include /sites/Analysis-result-search/components-sm/tooltip-info/index
include /sites/Analysis-result-search/components-sm/btn-radio/index
include /sites/Analysis-result-search/components-sm/btn-radio-full/index
include /sites/Analysis-result-search/components-sm/toggle-block/index
include /sites/Analysis-result-search/components-sm/attention/index
include /sites/Analysis-result-search/components-sm/progress-bar/index
include /sites/Analysis-result-search/components-sm/overflow-x-scroll/index
include /sites/Analysis-result-search/components-sm/bonus-block/index

// MODALS
include /sites/Analysis-result-search/components/modals/modal-cheaper/index
include /sites/Analysis-result-search/components/modals/modal-map/index
include /sites/Analysis-result-search/components/modals/modal-required-documents/index

// CART-PAGE
include /sites/Analysis-result-search/components/cart-page/cart-card/index
include /sites/Analysis-result-search/components/cart-page/cart-sidebar/index
include /sites/Analysis-result-search/components/cart-page/cart-sidebar/cart-sidebar-content
include /sites/Analysis-result-search/components/cart-page/cart-sidebar/content-for-tabs

// UI

// LABUDA
include /sites/Analysis-result-search/components/banner/banner-labuda/index
include /sites/Analysis-result-search/components/blocks-two/blocks-two-labuda/index
include /sites/Analysis-result-search/components/blocks-two/blocks-two-sale/index
include /sites/Analysis-result-search/components/blocks-two/blocks-six-labuda/index
include /sites/Analysis-result-search/components-sm/dashed-block/index
include /sites/Analysis-result-search/components-sm/gray-info/index
include /sites/Analysis-result-search/components-sm/analysis-row/index
include /sites/Analysis-result-search/components/slider-navigation/labuda/index

// FOOTER
include /sites/Analysis-result-search/components/footer/index
include /sites/Analysis-result-search/components/footer/footer-accordion/index
include /sites/Analysis-result-search/components/footer/footer-payment/index
include /sites/Analysis-result-search/components/footer/footer-app/index
include /sites/Analysis-result-search/components/footer/footer-social/index
include /sites/Analysis-result-search/components/footer/footer-bottom/index
include /sites/Analysis-result-search/components/footer/footer-logo/index

// MAIN 
include /sites/Analysis-result-search/components/banner/banner-main/index
include /sites/Analysis-result-search/components/cards-links/index
