@font-face {
    font-family: "Arialnarrow";
    src: url("@/sites/Analysis-result-search/fonts/arialnarrow/arialnarrow.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}
@font-face {
    font-family: "Maki-Sans";
    src: url("@/sites/Analysis-result-search/fonts/arialnarrow/arialnarrow.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}

// // DEFAULT

// @font-face {
//     font-family: "Roboto";
//     src: url("@/sites/Abustans/fonts/Roboto/static/Roboto-Regular.ttf")
//         format("truetype");
//     font-weight: 100 1000;
//     font-style: normal;
// }
