mixin Blocks-six-labuda(param={})
    .n-inner-container
        .n-grid-col-three
            .n-title-lg-alt Состав комплекса «Мой ребенок идет в садик или в школу»
            +Card({
                grayCard: true,
                classSaleCard: 'n-gray-card',
                noAddText: true,
                number: true,
                number: '1'
            })
            +Card({
                grayCard: true,
                classSaleCard: 'n-gray-card',
                noAddText: true,
                number: true,
                number: '2'
            })
            +Card({
                grayCard: true,
                classSaleCard: 'n-gray-card',
                noAddText: true,
                number: true,
                number: '3',
                noPromoBottom: true,
                promoBottom: true,
                newPrice: '000000',
                oldPrice: '000000',
            })
            +Card({
                grayCard: true,
                classSaleCard: 'n-gray-card',
                noAddText: true,
                number: true,
                number: '4'
            })
            +Card({
                grayCard: true,
                classSaleCard: 'n-gray-card',
                noAddText: true,
                number: true,
                number: '5'
            })
            +Card({
                grayCard: true,
                classSaleCard: 'n-gray-card',
                noAddText: true,
                number: true,
                number: '6',
                noPromoBottom: true,
                promoBottom: true,
                newPrice: '000',
                oldPrice: '000',
            })