mixin Footer-app(param={})
    .footer__app
        .footer__app_title Скачайте мобильное приложение
        .footer__app_categories
            a(href="#")
                +Img({
                    src: 'img/n-gp.png',
                    alt: 'google play'
                })
            a(href="#")
                +Img({
                    src: 'img/n-as.png',
                    alt: 'app store'
                })
            a(href="#")                
                +Img({
                    src: 'img/n-rs.png',
                    alt: 'rustore'
                })