mixin Footer({})
    footer.footer-new.footer-new__bg
        .footer__container
            +Footer-app({})
            +Footer-accordion([
                {
                    title: 'Пациентам',
                    firstItem: 'Пациентам',
                    itemsCol1: [
                        'Анализы и цены',
                        'Анализы на дому',
                        'Срочные анализы CITO',
                        'Правила подготовки',
                        'Сроки выполнения анализов',
                        'Справка для ФНС',
                        'ОМС',
                        
                    ],
                    itemsCol2: [
                        'Как узнать результаты анализа',
                        'Часто задаваемые вопросы',
                        'Положение о скидках',
                        'Бонусная программа',
                        'Подарочные карты',
                        'Результаты на Гос услугах',
                        'Правила приема несовершеннолетних',
                        'Оплата'
                    ]
                },
                {
                    title: 'Бизнесу',
                    firstItem: 'Бизнесу',
                    itemsCol1: [
                        { text: 'Корпоративным клиентам', highlight: true },
                        { text: 'Франчайзинг', highlight: true },
                        'Направительные бланки',
                        'Научно-методические публикации',
                        'Обучение',
                        'Клинические исследования'
                    ]
                },
                {
                    title: 'О компании',
                    firstItem: 'О компании',
                    itemsCol1: [
                        'Контроль качества',
                        'Видео о СИТИЛАБ',
                        'Технологии',
                        'Оборудование',
                        'Наши партнеры',
                        'Благотворительность',
                        
                    ],
                    itemsCol2: [
                        'Нормативные документы',
                        'Политика конфиденциальности',
                        'Регистрационные удостоверения',
                        'Карта статей',
                        'Оставить отзыв',
                        'Вакансии',
                        'Контакты'
                    ]
                }
            ])
            +Footer-bottom({})