include ./ui/button/index
include ./ui/parallax/index
//- include ./dev-land/index


//- include ./banner-simple/index
include ./navigation/tabs/index
include ./sliders/carousel/index



//- include ./game/index
//- include ./fixed-bg/index
//- include ./table/index
//- include ./land/index
include ./ui/link/index
include ./ui/img/index
include ./vars
