-
    const DEFAULT_CONFIG = {
        text: {
          FAQ: [],
          privacyPolicy: [],
          termsConditions: [],
          thanks: []
        }
    }
    var siteName = siteName ?? ''
    var config = config ?? DEFAULT_CONFIG