mixin Registration(param)
    .registration
        div.auth-buttons
            button(id='register-btn' class="btn btn-primary btn-register") Registration
            button(id='login-btn' class="btn btn-primary btn-register") Login
            button(id='logout-btn' class='hidden btn btn-primary btn-register') Logout