@use "@/sites/Analysis-result-search/colors" as color;
.ars-sidebar {
    &__showmore {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: color.$gray-text;
        img {
            max-width: 12px;
            max-height: 6px;
        }
    }
}
