mixin Carousel(param)
    .carousel
        ul.carousel__list
            li.carousel__item(data-pos="-2")
                +Img({
                    src: '/img/baseball2.jpeg',
                    alt: 'Single Player:'
                })
            li.carousel__item(data-pos="-1")
                +Img({
                    src: '/img/baseball4.jpeg',
                    alt: 'Single Player:'
                })
            li.carousel__item(data-pos="0")
                +Img({
                    src: '/img/phone.jpeg',
                    alt: 'Single Player:'
                })
            li.carousel__item(data-pos="1")
                +Img({
                    src: '/img/tutorial.jpeg',
                    alt: 'Single Player:'
                })
            li.carousel__item(data-pos="2")
                +Img({
                    src: '/img/multi.jpeg',
                    alt: 'Single Player:'
                })
