@keyframes right-fill {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes left-fill {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
