include /components/components
include /sites/Analysis-result-search/components/components
include /sites/Analysis-result-search/components/footer/index

block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel='icon' type='image/x-icon' href='img/favicon.ico' alt='fav')
        meta(name='description' content=`${description}`)
        link(href=`/src/sites/${siteName}/index.scss` rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")

    body
        block content

        //- +Footer({})
        
        script(type="module" src=`/src/sites/${siteName}/index.ts`)